<div class="box">
	<div class="">
		<div class="">
			<h1>
				<small>发布主题</small>
			</h1>
		</div>
		<div class="">
			<div class="form">
				<form action="#" method="post" ng-controller="">
					<div class="form-group">
						<div class="col-xs-12">
							<div class="input-group">
								<span>主题名称</span> <span class="input-group-addon"><span
									class="glyphicon glyphicon-user"></span></span> <input type="text"
									id="topic_title" name="topic_title" class="form-control"
									placeholder="主题名" ng-model="">
							</div>
						</div>
					</div>
					<div class="form-group">
						<script type="text/plain" id="myEditor" name="myEditor"
							style="width:96%;height:240px;">
						</script>
					</div>
					<div class="form-group form-actions">
						<div class="col-xs-4 col-xs-offset-4 ">
							<button type="submit" class="btn btn-sm btn-info">
								<span class="glyphicon glyphicon-send"></span>
								发&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp布
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript"
		src="../../framework/jquery/jquery-1.11.3.min.js"></script>
	<script type="text/javascript" src="../../editor/umeditor.config.js"></script>
	<script type="text/javascript" src="../../editor/umeditor.min.js"></script>
	<script type="text/javascript">
		var um = UM.getEditor('myEditor');
	</script>