<div class="box">
		<div class="register-box">
			<div class="register-title text-center">
				<h1><small>用户注册</small></h1>
			</div>
			<div class="register-content ">
			<div class="form">
			<form action="#" method="post" ng-controller="registerCtrl">
				<div class="form-group">
					<div class="col-xs-12  ">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
							<input type="text" id="username" name="username" class="form-control" placeholder="用户名" ng-model="user.username" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12  ">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
							<input type="text" id="username" name="username" class="form-control" placeholder="昵称" ng-model="user.nickname" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12  ">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							<input type="password" id="password" name="password" class="form-control" placeholder="密码" ng-model="user.password" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12  ">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
							<input type="password" id="password" name="password" class="form-control" placeholder="确认密码" ng-model="user.confirmPassword" required>
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-12">
						<div class="input-group">
							<span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
							<input type="email" id="email" name="email" class="form-control" placeholder="邮箱" ng-model="user.email" required>
						</div>
					</div>
				</div>
				<div class="form-group form-actions">
					<div class="col-xs-4 col-xs-offset-4 ">
						<button  class="btn btn-sm btn-info" ng-click="register()"><span class="glyphicon glyphicon-send"></span> 注&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp册</button>
					</div>
				</div>
				<div class="form-group">
					<div class="col-xs-6 link">
						<p class="text-center remove-margin"><small>已有账号？</small> <a href="#/login" ><small>登陆</small></a>
						</p>
					</div>
				</div>
			</form>
			</div>
		</div>
	</div>