<div ng-controller="topicListCtrl">
<!-- topics = [];
	topic = {
				topicId:"",
				title:"",
				user : {
					userId:"",
					nickName:""
				},
				topicRegistTime:"",
				recent:{
					userId:"",
					nickName:""
				},
				recentTime:"",
				responseNum:""                                     
			}
	 -->
	<div class="row" ng-repeat="topic in topics">
		<div class="topic-item">
			<div class="topic-title">
				<a ng-href="#topic/{{topic.topicId}}" ><span ng-bind="topic.title"></span></a>
			</div>
			<div class="topic-detail">
				<label>发题人:</label>
					<a href="#user/{{topic.user.userId}}">{{topic.user.nickName}}</a>
				<p>{{topic.topicRegistTime}}</p>
			</div>
			<div class="topic-detail">
				<label>最新更新:</label>
					<a href="#user/{{topic.recent.userId}}">{{topic.recent.nickName}}</a>
				<p>{{topic.recentTime}}</p>
			</div>
			<div class="topic-response">
				<label>回复量:</label>
				<p>{{topic.responseNum}}</p>
			</div>
		</div>
	</div>
	<nav>
	  <ul class="pagination">
	    <li ng-class="{true: 'disabled', false: ' '}[pageNow == 1]">
	      <span ng-click="setPageNow(pageNow-1)" aria-hidden="true" aria-label="Previous">&laquo;</span>
	    </li>
	    <li class="active"><span ng-click="setPageNow(pageNow)">{{pageNow}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+1)">{{pageNow+1}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+2)">{{pageNow+2}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+3)">{{pageNow+3}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+4)">{{pageNow+4}}</span></li>
	    <li>
	       <span ng-click="setPageNow(pageNow+1)" aria-hidden="true" aria-label="Next">&raquo;</span>
	    </li>
	  </ul>
	</nav>
</div>