<div class="topic" ng-controller="topicCtrl">
<!-- topic= {	
				title:"",
				topicId:""
			}; 
	floors=[];
	floor= {	
				user:{
					userId:"",
					nickName:"",
					registTime:"",
					topicNum:""
				},
				content:""
			}-->
	<div class="topic-title">
		<span ng-bind="topic.title"></span>
	</div>
	
	<div class="topic-floor" ng-repeat= "floor in floors">
		<div class="topic-user">
			<img alt="username" src="resource/images/userIcon.jpg">
				<div><label>用户：</label><a href="#user/{{floor.user.userId}}">{{floor.user.nickName}}</a></div>
				<div><label>注册时间：</label><span ng-bind="floor.user.registTime"></span></div>
				<div><label>发帖数：</label><span ng-bind="floor.user.topicNum"></span></div>
		</div>
		<div class="topic-floor-context">
			<div class="topic-floor-context-text">
				{{floor.content}}
			</div>
			<div class="topic-floor-context-res">
				<buttom type="button" class="btn btn-default btn-xs" ng-click="toResponse(floor);">回复</buttom>
			</div>
		</div>
	</div>
	<nav>
	  <ul class="pagination">
	    <li ng-class="{true: 'disabled', false: ' '}[pageNow == 1]">
	      <span ng-click="setPageNow(pageNow-1)" aria-hidden="true" aria-label="Previous">&laquo;</span>
	    </li>
	    <li class="active"><span ng-click="setPageNow(pageNow)">{{pageNow}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+1)">{{pageNow+1}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+2)">{{pageNow+2}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+3)">{{pageNow+3}}</span></li>
	    <li><span ng-click="setPageNow(pageNow+4)">{{pageNow+4}}</span></li>
	    <li>
	       <span ng-click="setPageNow(pageNow+1)" aria-hidden="true" aria-label="Next">&raquo;</span>
	    </li>
	  </ul>
	</nav>
	<div class="editor" id="editor">
		<div class="editor-content">
			<script type="text/plain" id="myEditor" style="width:96%;height:240px;">
	   							
			</script>
		</div>
		<div class="editor-btn-panel">
			<div class="btn-group" role="group" aria-label="...">
			  <button type="button" class="btn btn-default" ng-click="submitResponse(topic.topicId)">提交</button>
			</div>
			<div class="to-response">
			{{toResponseText}}
			</div>
		</div>
	</div>
</div>	


