body{
	padding-top: 70px;
	padding-bottom: 40px;
	background-color: #ECEFF1;
}
.navbar-color{
	background-color: #25282E;
}
#user-panel{
	position: fixed;
	top: 50px;
	bottom: 0px;
	padding-top: 5px;
	background-color: #D3DBDF;
}
#topic-panel{
	bottom: 0px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 20px;
	background-color: #ECEFF1;
}
.topic-item{
	width: 100%;
	height: 52px;
	border: 2px solid #6A7D7E;
	border-radius: 10px;
	background-color: #A6B6B8;
	padding: 1px;
	margin-bottom: 10px;
}
.topic-item > .topic-title{
	width: 40%;
	display: inline-block;
	position: relative;
	bottom: 8px;
	left: 2em;
}
.topic-item > .topic-title > a{
	color: #25282E;
	padding-top: auto;
	font-size: 20px;
}
.topic-item >.topic-detail{
	width: 20%;
	display: inline-block;
}
.topic-item > .topic-detail > label{
	color: #25282E;
	font-size: 10px;
}
.topic-item > .topic-response{
	display: inline-block;
}
.topic-item > .topic-response > label{
	color: #25282E;
	font-size: 10px;
}
.topic-item > .topic-response > p{
	margin-left: 1em;
}


.topic{
	width: 100%;	
}
.topic > .topic-title{
	width: 96%;
	height: 40px;
	border: 2px solid #6A7D7E;
	margin-bottom: 5px;
	word-wrap: break-word;
　 　word-break: normal;
	text-overflow : ellipsis;
	overflow:hidden; 
}
.topic > .topic-title > span{
	font-size: 20px; 
	padding-top: auto;
	position: relative;
	left: 1em;
	top: 2px;
}
.topic > .topic-floor{
	margin: 1px;
	width: 100%;
	height: 200px;
	padding: 2px;
	margin-bottom: 8px;
}
.topic > .topic-floor > .topic-user{
	width: 25%;
	height: 100%;
	margin-right: 8px;
	padding: 8px;
	display: inline-block;
	background-color: #CCD0D1;
	vertical-align: top;
}
.topic > .topic-floor > .topic-user > img{
	display: block;
	margin-bottom: 15px;
}
.topic > .topic-floor > .topic-user > div {
	color: #6A7D7E;
	font-size: 8px;
}
.topic > .topic-floor > .topic-floor-context{
	width: 70%;
	height: 100%;
	border: 1px solid;
	display: inline-block;
	vertical-align: top;
}
.topic > .topic-floor > .topic-floor-context > .topic-floor-context-text{
	height:80%;
	word-wrap: break-word;
　 　word-break: normal;
	text-overflow : ellipsis;
	overflow:hidden;
}
.topic > .topic-floor > .topic-floor-context > .topic-floor-context-text > .quote-text{
	font-family: "微软雅黑", serif;
	font-style:oblique;
	font-size: 1.2em;
	font-weight:2px;
	word-wrap: break-word;
　 　word-break: normal;
	text-overflow : ellipsis;
	overflow:hidden; 
	width: 100%;
	height:50px;
	margin-bottom:5px;
}
.topic > .topic-floor > .topic-floor-context > .topic-floor-context-res{
	float:right ;
	height:20%;
	padding-right:5px;
}
.editor{
	width: 96%;
	height: 350px;
	margin-top: 60px;
	margin-bottom: 20px;
	background-color: #CCD0D1;
	padding: 20px;
	border: 4px solid #6A7D7E;
}
.editor > .editor-content{
	width: 70%;
	height: 100%;
	margin-right: 10px;
	display: inline-block;
	vertical-align: top;
}
.editor > .editor-btn-panel{
	width: 25%;
	height: 100%;
	display: inline-block;
}
.editor > .editor-btn-panel > .to-response{
	margin:6px;
	padding-top:10px;
	font-family: "微软雅黑", serif;
	font-style:oblique;
	font-size: 0.9em;
	font-weight:2px;
	word-wrap: break-word;
　 　word-break: normal;
	text-overflow : ellipsis;
	overflow:hidden; 
	width: 100%;
	height:90%;
}
.box {
	margin: 0 auto;
	magin-bottom:50px;
	position: relative;
	width: 100%;
	height: 100%;
}
.login-box {
	width: 100%;
	max-width:500px;
	height: 400px;
	position: absolute;
	top: 50%;

	margin-top: -250px;
	/*设置负值，为要定位子盒子的一半高度*/
	
}
.register-box {
	width: 100%;
	max-width:500px;
	height: 600px;
	position: absolute;
	top: 40%;

	margin-top: -250px;
	/*设置负值，为要定位子盒子的一半高度*/
	
}
@media screen and (min-width:500px){
	.login-box {
		left: 50%;
		/*设置负值，为要定位子盒子的一半宽度*/
		margin-left: -250px;
	}
	.register-box {
		left: 50%;
		/*设置负值，为要定位子盒子的一半宽度*/
		margin-left: -250px;
	}
}	

.form {
	width: 100%;
	max-width:500px;
	height: 275px;
	margin: 25px auto 0px auto;
	padding-top: 25px;
}	
.login-content {
	height: 350px;
	width: 100%;
	max-width:500px;
	background-color: rgba(255, 250, 2550, .6);
	float: left;
}		
.register-content {
	height: 500px;
	width: 100%;
	max-width:500px;
	background-color: rgba(255, 250, 2550, .6);
	float: left;
}	
	
.input-group {
	margin: 0px 0px 30px 0px !important;
}
.form-control,
.input-group {
	height: 40px;
}
.form-group {
	margin-bottom: 2px !important;
}
.login-title {
	padding: 20px 10px;
	background-color: rgba(0, 0, 0, .6);
}
.login-title h1 {
	margin-top: 10px !important;
}
.login-title small {
	color: #fff;
}
.register-title {
	padding: 20px 10px;
	background-color: rgba(0, 0, 0, .6);
}
.register-title h1 {
	margin-top: 10px !important;
}
.register-title small {
	color: #fff;
}
.link p {
	line-height: 20px;
	margin-top: 30px;
}
.btn-sm {
	padding: 8px 24px !important;
	font-size: 16px !important;
}

.white-font{
	color: white;
	font-size: 20px;
}